---
import Layout from '../layouts/BlogPost.astro';
import cover from '../../public/blog-placeholder-1.jpg'
---

<Layout
	title="About Me"
	description="Hey yo it's ya boi"
	pubDate={new Date('2025-02-02T17:00:00.000Z')}
	updatedDate={new Date('2025-02-02T17:00:00.000Z')}
	cover={cover}
>
	<p>
		todo lol
	</p>
</Layout>
