---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Hey yo it's ya boi"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		todo lol
	</p>
</Layout>
