---
import Layout from "../layouts/Main.astro";
---

<Layout>
  <p class="mb-2">
    Just getting things up and running so I can publish CTF writeups somewhere
    not just LinkedIn.
  </p>
  <p>
    I'm currently looking for a job! Hit me up on
    <a
      class="underline"
      target="_blank"
      href="https://www.linkedin.com/in/timothymarro/">LinkedIn</a
    > for my resume.
  </p>
</Layout>
