---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!-- TODO: after a while, consider integrating into main layout. is currently separate in case we want other layouts with same body. -->
<body class="min-h-screen bg-background font-sans antialiased text-xl">
    <Header />
    <div class="max-w-screen-lg mx-auto py-8">
        <main>
            <slot />
        </main>
        <Footer />
    </div>
</body>
